.dashboard--banner {
  grid-template-columns: 355px 1fr;
  gap: 20px;
  padding: 0 5px;
}

.dashboard--toggle-queue {
  grid-template-rows: 35px 1fr;
}

.dashboard--toggle-queue-button {
  place-self: center;
  font-variant-caps: all-small-caps;
  width: 200px;
  padding: 2px 4px;
  background-color: rgb(5, 6, 45);
  border-radius: 8px;
  border: solid 2px var(--const-light-purple);
  color: var(--const-white);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.dashboard--toggle-queue-button:hover {
  background-image: linear-gradient(144deg,var(--const-light-purple), var(--const-purple) 50%,var(--const-cyan));
}
