/* BANNER */
.user-playlist--banner-empty {
    grid-template-columns: 235px 1fr;
    gap: 20px;
    padding: 0 25px 25px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: linear-gradient(var(--album-track-focus), var(--const-base-bg) 95%);
  }
  
  /* USER PLAYLIST IMAGE */
  .user-playlist--banner-empty-img-container {
    place-content: center;
    width: 235px;
    height: 235px;
    justify-self: center;
    align-self: end;
    margin-bottom: 8px;
    background-color: var(--const-card-hover);
    box-shadow: 0 4px 12px 0 #0000004d;
    border-radius: 4px;
  }
  
  .user-playlist-empty--img {
    width: 50px;
    height: 50px;
    transition: 0.3s;
  }

  /* USER PLAYLIST INFO */
  .user-playlist--banner-empty-info-container {
    grid-template-rows: 1fr auto 20px 30px;
    align-self: end;
    line-height: 1;
    height: 235px;
    gap: 10px;
    cursor: default;
  }

  .user-playlist--playlist-name {
    font-size: calc(100% + 3vw);
    font-weight: bold;
    text-shadow: 0px 1px, 1px 0px, 1px 1px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top: 5px;
  }
  
  .user-playlist--playlist-description {
    font-size: 14px;
  }
  
  /* USER PLAYLIST OVERVIEW */
  .user-playlist--playlist-overview-container {
    grid-template-columns: repeat(2, auto);
    align-items: center;
    justify-content: start;
    gap: 3px;
    font-size: 14px;
  }
  
  .user-playlist-overview-owner-name {
    font-weight: bold;
  }
  