.top-played-outer-container {
  grid-area: Main;
  overflow: hidden;
  background: linear-gradient(
    var(--const-base-red-db),
    var(--const-base-bg) 50%
  );
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin: 5px;
  padding-right: 3px;
  padding-top: 65px;
  opacity: 0;
  animation: 0.3s ease 0.5s forwards fade-in;
}

.scrollbar-top-played {
  overflow-y: scroll;
  visibility: hidden;
  transition: 1s all 0.1s ease-out;
}

.scrollbar-top-played:hover {
  visibility: visible;
}

.top-played {
  grid-template-rows: 70px repeat(2, 420px) 400px;
  padding: 8px 30px 40px 30px;
  gap: 30px;
  visibility: visible;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.top-played--header {
  font-size: 60px;
  text-align: center;
  font-variant-caps: all-small-caps;
}

.top-tracks--container,
.top-artists--container {
  grid-template-rows: 50px 30px 1fr;
  gap: 5px;
  align-content: center;
}

.top-tracks--header-container,
.top-artists--header-container {
  grid-template-columns: repeat(2, auto);
  justify-content: start;
  gap: 20px;
  align-items: center;
}

.top-tracks--header,
.top-artists--header {
  color: var(--const-green);
  font-size: 24px;
}

.top-tracks--see-all-link,
.top-artists--see-all-link {
  font-size: 13px;
  margin-top: 3px;
  color: var(--const-main-white);
  border: solid 1px var(--const-main-white);
  border-radius: 9999px;
  padding: 3px 10px;
}

.top-tracks--see-all-link:hover,
.top-artists--see-all-link:hover {
  font-weight: bold;
  border: none;
}
